<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<br/>
<h2>Username: <%= @username %></h2>
<br/>
<h2>Email: <%= @email %></h2>
<br/>
<h2>Phone: <%= @phone %></h2>
<br/>
<h2>Message: <%= @msg %></h2>
</body>
</html>