.dont-stand-out
  %h1 ¡No te quedes fuera!
  .row
    .col-md-6
      %h4 Solicita Informacióny atención personalizada.
    .col-md-6
      .message#flash-message1{:style => "visibility: hidden"}
        %span Información Enviada.
  %form#form3{:remote => true}
    .row
      .col-md-4
        .form-group
          %input.form-control{:id => 'username' ,:name => "username", :placeholder => "Nombre Completo*", :pattern => "[A-Za-z\s]+", :type => "text", :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
      .col-md-4
        .form-group
          %input.form-control{:id => 'email' ,:name => "email" ,:placeholder => "Correo Electrónico*", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :type => "email" , :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
      .col-md-4
        .form-group
          %input.form-control{:id => 'phone' ,:name => "phone", :oninput => "if(value.length>10)value=value.slice(0,9)" ,:placeholder => "Número Telefónico (10 digitos)*", :pattern => '[0-9]{10}' ,:type => "text" , :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
    .row
      .col-md-8
        %p Ven a conocer El Encino Residencial, un lugar mágico con todo lo que soñaste y a sólo 15 minutos del centro histórico de Querétaro
      .col-md-4
        %button.btn.btn-warning.btn-lg.btn-block{:type => "submit"} ¡Deseo más Información!

:javascript
  $(document).on("submit", "#form3", function(event)
  {
      var id = 'form3';
      var email = $('#'+id).find('#email').val();
      var username = $('#'+id).find('#username').val();
      var phone = $('#'+id).find('#phone').val();
      event.preventDefault();
      $.ajax({
          url: "/homes/send_email?email="+email + '&phone='+phone+ '&username='+username,
          type: "get",
          dataType: "JSON",
          processData: false,
          contentType: false,
          success: function (data, status)
          {
            console.log("success");
            $('#'+id).find('#email').val('');
            $('#'+id).find('#username').val('');
            $('#'+id).find('#phone').val('');
            $('#'+id).find('#msg').val('');

            $('#flash-message1').css('visibility', 'visible');
          },
          error: function (xhr, desc, err)
          {
            console.log("error");

          }
      });
  });