%link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
/ Flexslider
%link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
/ Style
%link{:href => "/assets/style.css", :rel => "stylesheet"}/
/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
/ WARNING: Respond.js doesn't work if you view the page via file://
/[if lt IE 9]
%script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
%script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
/ jQuery (necessary for Bootstrap's JavaScript plugins)
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}

#wrapper.wrapper.container-fluid
  .menu-holder
  %button.navbar-toggle.collapsed.toggle-menu{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .sidebar
    #logo
      %a{:href => "/homes"}
        %img{:src => "/assets/logo.png"}/
    %nav.main-nav{:role => "navigation"}
      %h5 FRACCIONAMIENTO
      %ul
        %li.active
          %a{:href => "/homes"}
            %span.ga.ga-tree
               Inicio
        %li
          %a{:href => "homes/masterplan"}
            %span.ga.ga-safari
               Masterplan
        %li
          %a{:href => "/homes/amenidades"}
            %span.ga.ga-sheet
               Amenidades
        %li
          %a{:href => "/homes/gallery"}
            %span.ga.ga-gallery
               Galeria de Fotos
    %nav.main-nav{:role => "navigation"}
      %h5 VENTAS
      %ul
        %li
          %a{:href => "/homes/disponibilidad"}
            %span.ga.ga-map
               Plano/Disponibilidad
        %li
          %a{:href => "/homes/facilidades"}
            %span.ga.ga-cash
               Facilidades
        %li
          %a{:href => "/homes/cotizador"}
            %span.ga.ga-calculator
               Cotizador
        / <li><a href="/register-apartados.html"><span class="ga ga-edit"></span>    Registrar Apartados</a></li>
        %li
          %a{:href => "/homes/contacto"}
            %span.ga.ga-phone
               Contáctanos
  #main-content.col-md-12
    #content
      .box
        %h1.page-title Contáctanos
        .row
          .col-md-6
            .contact-box
              %h4.clearfix
                Formulario de Contacto
                %img.pull-right{:src => "/assets/buzon.png"}/

              .row
                .col-md-12.col-lg-8.col-lg-offset-2
                  %form#form4{:remote => true}
                    .form-group
                      %input.form-control{:id => 'username' ,:name => "username", :placeholder => "Nombre Completo*", :pattern => "[A-Za-z\s]+", :type => "text", :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
                    .form-group
                      %input.form-control{:id => 'email' ,:name => "email" ,:placeholder => "Correo Electrónico*", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :type => "email" , :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
                    .form-group
                      %input.form-control{:id => 'phone' ,:name => "phone", :oninput => "if(value.length>10)value=value.slice(0,10)" ,:placeholder => "Número Telefónico (10 digitos)*", :pattern => '[0-9]{10}' ,:type => "text" , :required => "true", :oninvalid => "$(this).css('border-color', 'red')"}/
                    .form-group
                      %textarea.form-control{:id => 'msg', :placeholder => "Mensaje Opcional", :rows => "5"}
                    %button.btn.btn-lg.btn-warning.btn-block{:type => "submit"} ¡Deseo más Información!
                    %div{class: "message", id: "flash-message0", style: "visibility: hidden"}
                      Pronto serás contactado.
          .col-md-6
            .contact-box
              %h4.clearfix
                Datos de Contacto
                %img.pull-right{:src => "/assets/phone.png"}/
              %p
                Ing. Rodrigo Macazaga Villicaña
                %br/
                Asesor Profesional Inmobiliario
                %br/
                Celular de Contacto. (442) 468 58 38
              %p rodrigomacazaga@gmail.com
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        .clearfix
          .pull-left
            %a{:href => "#"}
              %img{:src => "/assets/logo-footer.png"}/
          .pull-right
            %div
              %img{:src => "/assets/promessa-logo-footer.png"}/
    = render "shared/contact"
:javascript
  jQuery(document).bind("ready",function(){
  });

  jQuery(window).bind("load", function(){
  });
%script{:src => "/assets/main.js"}
%footer
  #footer.clearfix
    .pull-left
      %a{:href => "#"}
        %img{:src => "/assets/logo-footer.png"}/
    .pull-right
      %div
        %img{:src => "/assets/promessa-logo-footer.png"}/
  #copyright
    %span Desarrollado por Startup Mexico S.A. de C.V. - (442) 412 03 91
/ Include all compiled plugins (below), or include individual files as needed
%script{:src => "/assets/vendor/bootstrap.min.js"}
/ Flexslider
%script{:src => "/assets/vendor/jquery.flexslider-min.js"}

:javascript
  $(document).on("submit", "#form4", function(event)
  {
      var id = 'form4';
      var email = $('#'+id).find('#email').val();
      var username = $('#'+id).find('#username').val();
      var phone = $('#'+id).find('#phone').val();
      var msg = $('#'+id).find('#msg').val();
      event.preventDefault();
      $.ajax({
          url: "/homes/send_email?email="+email + '&phone='+phone+ '&username='+username+'&msg='+msg,
          type: "get",
          dataType: "JSON",
          processData: false,
          contentType: false,
          success: function (data, status)
          {
            console.log("success");
            $('#'+id).find('#email').val('');
            $('#'+id).find('#username').val('');
            $('#'+id).find('#phone').val('');
            $('#'+id).find('#msg').val('');
            $('#flash-message0').css('visibility', 'visible');
          },
          error: function (xhr, desc, err)
          {
            console.log("error");

          }
      });
  });

