/ Bootstrap
%link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
/ Flexslider
%link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
/ Style
%link{:href => "/assets/style.css", :rel => "stylesheet"}/
/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
/ WARNING: Respond.js doesn't work if you view the page via file://
/[if lt IE 9]
%script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
%script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
/ jQuery (necessary for Bootstrap's JavaScript plugins)
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
/ Include all compiled plugins (below), or include individual files as needed
%script{:src => "/assets/vendor/bootstrap.min.js"}
/ Flexslider
%script{:src => "/assets/vendor/jquery.flexslider-min.js"}
:css
  /* these styles are for the demo, but are not required for the plugin */
  .zoom {
    display:inline-block;
    position: relative;
  }

  /* magnifying glass icon */
  .zoom:after {
    content:'';
    display:block;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    right:0;
    background:url(/assets/zoom-master/icon.png);
  }
#wrapper.wrapper.container-fluid
  .menu-holder
  %button.navbar-toggle.collapsed.toggle-menu{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .sidebar
    #logo
      %a{:href => "/homes"}
        %img{:src => "/assets/logo.png"}/
    %nav.main-nav{:role => "navigation"}
      %h5 FRACCIONAMIENTO
      %ul
        %li.active
          %a{:href => "/homes"}
            %span.ga.ga-tree
               Inicio
        %li
          %a{:href => "homes/masterplan"}
            %span.ga.ga-safari
               Masterplan
        %li
          %a{:href => "/homes/amenidades"}
            %span.ga.ga-sheet
               Amenidades
        %li
          %a{:href => "/homes/gallery"}
            %span.ga.ga-gallery
               Galeria de Fotos
    %nav.main-nav{:role => "navigation"}
      %h5 VENTAS
      %ul
        %li
          %a{:href => "/homes/disponibilidad"}
            %span.ga.ga-map
               Plano/Disponibilidad
        %li
          %a{:href => "/homes/facilidades"}
            %span.ga.ga-cash
               Facilidades
        %li
          %a{:href => "/homes/cotizador"}
            %span.ga.ga-calculator
               Cotizador
        / <li><a href="/register-apartados.html"><span class="ga ga-edit"></span>    Registrar Apartados</a></li>
        %li
          %a{:href => "/homes/contacto"}
            %span.ga.ga-phone
               Contáctanos
  #main-content.col-md-12
    #content
      .box
        .row
          .col-md-6
            %ul.list-inline.list-options
              %li
                %a.download-link{:href => "/assets/Terrenos Disponibles 1era Etapa.pdf", :target => "_blank"}
                  %img{:alt => "", :src => "/assets/download-icon-medium.png"}/
                  Descargar Plano
              %li
                %a.full-res-link{:href => "/assets/Terrenos Disponibles 1era Etapa.jpg", :target => "_blank"}
                  %img{:alt => "", :src => "/assets/view-icon.png"}/
                  Ver Plano en Alta Resolución
          .col-md-6
            %h1.page-title.with-subtitle Plano 1ra Etapa
            %h6.page-subtitle Última Actualización: 10/Diciembre/2014 17:33
        /
          <div class="responsive-wrapper">
          <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
        .box.small.gray
          .responsive-wrapper.disponibilidad
            #main-spinner.spinner
              .bounce1
              .bounce2
              .bounce3
            #slider.flexslider
              %ul.slides
                %li{"download-link" => "/assets/Terrenos Disponibles 1era Etapa.pdf", "full-res-link" => "/assets/Terrenos Disponibles 1era Etapa.jpg", :title => "Plano 1ra Etapa"}
                  %span#zoomImg1.zoom{:style => "opacity:0;"}
                    %img.img-responsive.inline.zoom-source{"data-original" => "/assets/Terrenos Disponibles 1era Etapa.jpg", :style => "opacity:0;"}/
                    %p Hover
                %li{"download-link" => "/assets/Terrenos Disponibles 2da Etapa.pdf", "full-res-link" => "/assets/Terrenos Disponibles 2da Etapa.jpg", :style => "overflow:hidden;", :title => "Plano 2da Etapa"}
                  %span#zoomImg2.zoom{:style => "opacity:0;"}
                    %img.img-responsive.inline.zoom-source{"data-original" => "/assets/Terrenos-Disponibles-2da-Etapa_2.jpg", :style => "opacity:0;"}/
                    %p Hover
          #carousel.flexslider.carousel-preview{:style => "opacity:0"}
            %ul.slides
              %li
                %img{:src => "/assets/Terrenos-Disponibles-1era-Etapa_preview.jpg"}/
              %li
                %img{:src => "/assets/Terrenos-Disponibles-2era-Etapa-2-preview.jpg"}/
        %br/
        %br/
        #cotizador.cotizacion
          .row
            .col-md-5.no-padding-right
              .calculator-box
                %h4 ¡Cotiza al Instante!
                %p También recibirás la cotización en tu correo electrónico.
                %form
                  .form-group
                    %select.form-control
                      %option Etapa*
                  .form-group
                    %select.form-control
                      %option Manzana*
                  .form-group
                    %select.form-control
                      %option Lote*
                  .form-group
                    %input.form-control{:placeholder => "Nombre Completo*", :type => "text"}/
                  .form-group
                    %input.form-control{:placeholder => "Correo Electrónico*", :type => "email"}/
                  .form-group
                    %input.form-control{:placeholder => "Número Telefónico*", :type => "text"}/
                  %p
                    Incrementos en precios de lista sin previo aviso.
                    %br/
                    En caso de incremento su cotización será válida únicamente por 5 días naturales tras recibir su correo.
                  %br/
                  .text-center#flash-message1{:style => "visibility: hidden"}
                    %span.message> Pronto serás contactado.
                       
                    %button.btn.btn-warning     Realizar Cotización    
            .col-md-7.no-padding-left
              .encino-box
                ._hidden
                  %h4.clearfix
                    Cotización - Manzana 04 Lote 09
                    %img.pull-right{:src => "/assets/edit.png"}/
                  .row
                    .col-md-6
                      %p
                        Superficie: 269.79m2
                        %br/
                        Precio de Lista: $2,044.22
                    .col-md-6
                      %p.text-right
                        Impote Total: $551,489.67
                        %br/
                        Apartado de $20,000.00
                  .row
                    .col-md-12
                      %h4.clearfix
                        36 Meses Sin Intereses
                        %img.pull-right{:src => "/assets/calendar.png"}/
                      %ul
                        %li
                          30% Enganche:$165,446.90
                          %br/
                          Primer Pago:$145,446.90
                          %br/
                          36 Mensualidades de:$10,723.41
                      %h4.clearfix
                        50% Enganche
                        %img.pull-right{:src => "/assets/puzzle.png"}/
                      %ul
                        %li
                          Precio por m2:$1,839.80 (10% desc.)
                          %br/
                          Importe Total:$496,340.70
                          %br/
                          50% Enganche:$248,170.35
                          %br/
                          Primer Pago:$228,170.35
                          %br/
                          Segundo Pago:$248,170.35
                      %h4.clearfix
                        Pago de Contado
                        %img.pull-right{:src => "/assets/payment.png"}/
                      %ul
                        %li
                          Precio por m2:$1,655.82 (10% adicional)
                          %br/
                          Importe Total:$446,706.63
                          %br/
                          Finiquito:$446,706.63
                  .text-right
                    %a{:href => "#"}
                      %img{:src => "/assets/download-icon.png"}>/
                         Guardar Cotización
        %br/
        %br/
        %br/
        .clearfix
          .pull-left
            %a{:href => "#"}
              %img{:src => "/assets/logo-footer.png"}/
          .pull-right
            %div
              %img{:src => "/assets/promessa-logo-footer.png"}/
    = render "shared/contact"
.hidden
  .for-holders
    %span#zoomImg2.zoom.hide-load
      %img.img-responsive.inline.zoom-source{:src => "/assets/Terrenos-Disponibles-2era-Etapa-2.jpg"}/
      %p Hover
%script{:src => "/assets/zoom-master/jquery.zoom.js"}
:javascript
  $(document).keydown(function(e) {
      switch(e.which) {

          case 37: // left
            $(".flex-prev").click();
          break;

          case 39: // right
            $(".flex-next").click();
          break;

          default: return;
      }
      e.preventDefault();
  });


  $(document).ready(function(){

   $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      directionNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 130,
      itemMargin: 8,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      directionNav: false,
      animationLoop: false,
      slideshow: false,
      nextText: '',
      prevText: '',
      animationSpeed: 300,
      sync: "#carousel",

      start: function(slider){

        $("#main-spinner").fadeOut(function(){


          // $("#zoomImg1").delay(200).animate({opacity:1},1500);


          slider.find('ul.slides li').each(function(){
            $(this).prepend("<div class='spinner disponibilidad'>\
                              <div class='bounce1'></div>\
                              <div class='bounce2'></div>\
                              <div class='bounce3'></div>\
                            </div>");
          });

          var selector = $(slider).find('ul.slides li:nth-child(1) .zoom img');
          selector
              .attr('src', selector.attr('data-original') )
              .on('load',function(){

                selector.parent().parent().find(".spinner").fadeOut(function(){

                  selector.parent().animate({opacity:1},100 ,function(){
                    selector.animate({opacity:1},1000 ,function(){
                      $("#zoomImg1").zoom();
                      // selector.css({opacity:1});
                      $("#carousel").animate({opacity:1},1000);
                    });

                  });
                });
              });


          var selector2 = $(slider).find('ul.slides li:nth-child(2) .zoom img');
          selector2
              .attr('src', selector2.attr('data-original') )
              .on('load',function(){

                selector2.parent().parent().find(".spinner").fadeOut(function(){

                  selector2.parent().animate({opacity:1},100 ,function(){
                    selector2.animate({opacity:.95},1000 ,function(){
                      $("#zoomImg2").zoom();
                      selector2.css({opacity:1});
                    });
                  });
                });
              });


        });


      },

      after: function(slider){
        $(".download-link").attr('href', $(".flex-active-slide").attr('download-link') );
        $(".full-res-link").attr('href', $(".flex-active-slide").attr('full-res-link') )
        $(".page-title").text( $(".flex-active-slide").attr('title') );

      }

    });

  });
%script{:src => "/assets/easing.js"}
%script{:src => "/assets/main.js"}
%footer
  #footer.clearfix
    .pull-left
      %a{:href => "#"}
        %img{:src => "/assets/logo-footer.png"}/
    .pull-right
      %div
        %img{:src => "/assets/promessa-logo-footer.png"}/
  #copyright
    %span Desarrollado por Startup Mexico S.A. de C.V. - (442) 412 03 91