%link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
/ Flexslider
%link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
/ Style
%link{:href => "/assets/style.css", :rel => "stylesheet"}/
/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
/ WARNING: Respond.js doesn't work if you view the page via file://
/[if lt IE 9]
%script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
%script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
/ jQuery (necessary for Bootstrap's JavaScript plugins)
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
#wrapper.wrapper.container-fluid
  .menu-holder
  %button.navbar-toggle.collapsed.toggle-menu{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .sidebar
    #logo
      %a{:href => "/homes"}
        %img{:src => "/assets/logo.png"}/
    %nav.main-nav{:role => "navigation"}
      %h5 FRACCIONAMIENTO
      %ul
        %li
          %a{:href => "/homes"}
            %span.ga.ga-tree
               Inicio
        %li
          %a{:href => "homes/masterplan"}
            %span.ga.ga-safari
               Masterplan
        %li
          %a{:href => "/homes/amenidades"}
            %span.ga.ga-sheet
               Amenidades
        %li
          %a{:href => "/homes/gallery"}
            %span.ga.ga-gallery
               Galeria de Fotos
    %nav.main-nav{:role => "navigation"}
      %h5 VENTAS
      %ul
        %li
          %a{:href => "/homes/disponibilidad"}
            %span.ga.ga-map
               Plano/Disponibilidad
        %li
          %a{:href => "/homes/facilidades"}
            %span.ga.ga-cash
               Facilidades
        %li
          %a{:href => "/homes/cotizador"}
            %span.ga.ga-calculator
               Cotizador
        / <li><a href="/register-apartados.html"><span class="ga ga-edit"></span>    Registrar Apartados</a></li>
        %li
          %a{:href => "/homes/contacto"}
            %span.ga.ga-phone
               Contáctanos
  #main-content._col-md-10
    #content
      .box.small
        .box-gallery
          .responsive-wrapper
            #main-spinner.spinner
              .bounce1
              .bounce2
              .bounce3
            #slider.flexslider{:style => "opacity:0;"}
              %ul.slides
                %li
                  %img{"data-src" => "/assets/gallery/1.jpg"}/
                %li
                  %img{"data-original" => "/assets/gallery/4.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/5.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/7.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/8.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/9.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/10.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/11.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/12.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/13.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/14.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/15.jpg", :style => "display:none;"}/
                %li
                  %img{"data-original" => "/assets/gallery/17.jpg", :style => "display:none;"}/
          #carousel.flexslider.carousel-preview{:style => "opacity:0;"}
            %ul.slides
              %li
                %img{:height => "86", :src => "/assets/gallery/1p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/4p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/5p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/7p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/8p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/9p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/10p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/11p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/12p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/13p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/14p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/15p.jpg", :width => "130"}/
              %li
                %img{:height => "86", :src => "/assets/gallery/17p.jpg", :width => "130"}/
          = render "shared/contact"
          %br/
          %br/
          .clearfix
            .pull-left
              %a{:href => "#"}
                %img{:src => "/assets/logo.png"}/
              -#/
                <div class="pull-right">
                <div><img src="img/promessa-logo.png"/></div>
                </div>
      %br/
      %br/
      %br/
      %br/
:javascript
  $(document).keydown(function(e) {
      switch(e.which) {

          case 37: // left
            $(".flex-prev").click();
          break;

          case 39: // right
            $(".flex-next").click();
          break;

          default: return;
      }
      e.preventDefault();
  });

  $(document).ready(function(){

    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      directionNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 130,
      itemMargin: 8,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      nextText: '',
      prevText: '',
      sync: "#carousel",

      start: function(slider){

        $(slider).find('ul.slides li:first-child img')
          .attr('src', $(slider).find('ul.slides li:first-child img').attr('data-src') )
          .on('load',function(){
            $("#main-spinner").fadeOut(function(){
              $(slider).animate({opacity:1},500 );
              $("#carousel").delay(200).animate({opacity:1},500);
            });
        });

        slider.find('ul.slides li').each(function(){
          if( $(this).index() === 0 ){
            return;
          }

          $(this).append("<div class='spinner'>\
                            <div class='bounce1'></div>\
                            <div class='bounce2'></div>\
                            <div class='bounce3'></div>\
                          </div>");
        });

      },

      after: function(slider){
        var sel = slider.currentSlide + 1;
        var selector = $(slider).find('ul.slides li:nth-child(' + sel + ') img')
        selector
          .attr('src', selector.attr('data-original') )
          .on('load',function(){
            selector.parent().find('.spinner').hide();
            selector.fadeIn();
          });

      }

    });
  });
%script{:src => "/assets/main.js"}
%footer
  #footer.clearfix
    .pull-left
      %a{:href => "#"}
        %img{:src => "/assets/logo-footer.png"}/
    .pull-right
      %div
        %img{:src => "/assets/promessa-logo-footer.png"}/
  #copyright
    %span Desarrollado por Startup Mexico S.A. de C.V. - (442) 412 03 91
/ Include all compiled plugins (below), or include individual files as needed
%script{:src => "/assets/vendor/bootstrap.min.js"}
/ Flexslider
%script{:src => "/assets/vendor/jquery.flexslider-min.js"}