$default-color: #525252;
$font-family: 'Helvetica Neue', Helvetica, sans-serif;


@mixin transitions( $time: .2s , $delay: .01s) {
  -webkit-transition: $time ease $delay;
  -moz-transition: $time ease $delay;
  -o-transition: $time ease $delay;
  transition: $time ease $delay;
}

@mixin noSelect(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin no-transition() {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}


// Plugins

// Spinner
.spinner {
  margin: 33.2% auto 0;
  width: 70px;
  text-align: center;

  &.disponibilidad{
    // margin: 28% auto 0;
  }
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// END: spinner

// Responsive wrapper
.responsive-wrapper {
  position: relative;
  padding-bottom: 66.25%;
  padding-top: 20px;
  height: 0;

  &.disponibilidad{
    padding-bottom: 61.25%;
  }
}
.responsive-wrapper >div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide-load{
  display: none !important;
}

// #zoomImg2{
//   margin: auto;
//     display: block;
//     width: 39%;
//     height: 5%;

//     overflow: hidden;

//   &:hover{
//     width:100%;
//     // height: 5%;
//     height: 564px;
//   }
// }

body {
  background: #3b475a;
  color: $default-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: normal;
}

.wrapper {
  position: relative;
  padding: 0 0 0 220px;
}

.bg-wrapper{
  margin:0px 15px;
  overflow: auto;
  background-color: #3B475A;
}

.menu-holder{
  height: 70px;
}

.newsbadge{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;
}

.sidebar {
  // position: absolute;
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;

  height: 50%;
  min-height: 450px;
  z-index:99;

  background-color: #3B475A;

  @include transitions();
}

.hero-slider {
  border: 0;
  margin: 0;
  height: 720px;
  z-index: 1;
}

.navbar-toggle{
  $col1: rgba(255,255,255,.5);

  position: absolute;
  left: 20px;
  top: 10px;
  z-index:999;
  border: 1px solid $col1;
  background-color: rgba(0,0,0,.2);

  @include transitions();

  span.icon-bar{
    background-color: $col1;
    @include transitions();
  }

  &:hover{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.5);
    span.icon-bar{
      background-color: #fff;
    }
  }
}

.container-max { max-width: 960px; }

.btn-lg {
  font-size:15px;
}

#main-banner {
  position: relative;
  .main-banner-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
  }
  .copy {
    background: #3b475a;
    color: #ffffff;
    padding: 30px 110px;

    p {
      background: url('/assets/right-arrow.png') right center no-repeat;
      display: inline-block;
      margin-bottom: 0px;
      margin-top: 0;
      padding-right: 60px;

      span.title {
        font-size: 36px;
        line-height: 24px;
        font-weight: bold;
      }

      span.subtitle {
        background: none;
        font-size: 17px;
        font-weight: normal;
        line-height: 30px;
      }
    }
  }
  .info-form {
    background: #3b475a;
    border-radius: 4px;
    bottom: -50px;
    color: #ffffff;
    padding: 10px 20px;
    position: absolute;
    // right: 100px;
    left: 546px;
    width: 370px;
    z-index: 2;

    h5 {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .form-control {
      border-radius: 0;
      color: #97a6b5;
      height: 42px;
    }

    .btn-lg {
      font-weight: bold;
      padding: 18px 16px;
    }

    .message {
      color: #ff6f00;
      margin-top: 10px;
      text-align: right;
    }
  }
}

#content {
  background: #ffffff;
}

#footer {
  background: #f0f0f0;
  padding: 20px 40px;
}

#logo {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}
#copyright {
  background: #353535;
  color: #f0f0f0;
  font-size: 14px;
  padding: 10px 40px;
  text-align: right;
}

/* Main Navigation */
.main-nav {
  padding: 0 15px;
  h5 {
    color: #536273;
    font-size: 13px;
    font-weight: normal;
  }
  ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
  }
  li {
    margin: 10px 0 10px 10px;
  }
  a {
    color: #97a6b5;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
  }
  li.active a,
  a:hover,
  a:focus {
    color: #5dc148;
  }
  li.active .ga,
  a:hover .ga,
  a:focus .ga {
    background-position: 0 -21px;
  }
}

/* Sections */
.encino-residencial {
  font-size: 18px;
  padding: 20px;

  h3 {
    color: #3b475a;
    margin-bottom: 20px;
    span {
      border-bottom: 1px solid #5dc148;
      padding-bottom: 4px;
    }
  }
}
.dont-stand-out {
  color: #ffffff;
  padding: 20px;

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  h4 {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border-radius: 0;
    color: #97a6b5;
    height: 42px;
  }
  .btn-lg {
    padding: 18px 16px;
  }
  .message {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #ff6f00;
    text-align: right;
  }
}
.amenidades {
  padding: 20px;
  color: #525252;

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  li {
    font-size: 16px;
  }
}

.feature {
  color: #525252;
  img {
    margin-bottom: 5px;
  }
  h4 {
    color: #3b475a;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.features {
  background: #f0f0f0;
  padding: 20px;

  .block {
    background: #3b475a;
    color: #ffffff;
    padding: 35px;

    h3 {
      margin-bottom: 30px;
      margin-top: 10px;
    }

    ul {
      color: #ff6f00;
      list-style: circle;
      margin:0;
      padding: 0 0 0 25px;
    }
    li {
      margin: 3px 0;
    }
    li span {
      color: #ffffff;
    }
  }
}
.cotizacion {
  background: #f0f0f0;

  .calculator-box {
    background: #4a5a6d;
    color: #ffffff;
    padding: 24px 26px;

    h4 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
    }

    p {
      font-size: 12px;
      margin-bottom: 15px;
    }

    .form-control {
      border-radius: 0;
      height: 42px;
    }
    .message {
      color: #ff6f00;
      font-size: 14px;
    }
  }

  .encino-box {
    margin-bottom: 0;
    padding-bottom: 10px;

    .preview-empty {
      color: #5dc148;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    .preview {
      border: 1px solid #97a6b5;
      color: #3b475a;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 2px;
      text-align: center;
    }

    a {
      color: #97a6b5;
      text-decoration: none;
    }
  }
}

.list-options {
  margin: 20px;
  a {
    color: #97a6b5;
    text-decoration: none;
  }
  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

/* Images */
img.img-responsive.inline {
  display: inline-block;
}
img.bottom-align {
  vertical-align: bottom;
}

img.mw100{
  margin: auto;
  max-width: 100%;
}

.img-full-width {
  width: 100%;
}


/* Lists */
.checklist {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: url('../img/check.png') left top no-repeat;
    margin: 20px 0;
    padding-left: 25px;
  }
}

/* Buttons */
.btn.btn-warning {
  background: #ff6f00;
  border-color: #ff6f00;
  border-radius: 2px;
}

/* Title */
.page-title {
  color: #3b475a;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: right;
}
.page-title.with-subtitle {
  margin-bottom: 10px;
}
.page-subtitle {
  color: #97a6b5;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}

/* Boxes */
.box {
  padding: 20px;
}
.box.gray {
  background: #4a5a6d;
}
.box.small {
  padding: 20px;
}
.box-gallery {
  background: #3b475a;
  padding: 22px 18px;
}
.contact-box {
  background: #f0f0f0;
  margin-bottom: 20px;
  height: 460px;
  padding: 25px 20px;

  h4 {
    border-bottom: 1px solid #5dc148;
    color: #3b475a;
    font-weight: bold;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  p {
    color: #97a6b5;
    line-height: 18px;
  }

  .form-control {
    border-radius: 0;
    color: #97a6b5;
  }
  input.form-control {
    height: 42px;
  }
  .btn-lg {
    padding: 18px 16px;
  }
}
.encino-box {
  background: #f0f0f0;
  color: #97a6b5;
  margin-bottom: 30px;
  padding: 22px 20px;

  h4 {
    border-bottom: 1px solid #5dc148;
    color: #3b475a;
    font-weight: bold;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 5px;
  }

  h5 {
    color: #3b475a;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: url('/assets/check-small.png') left 3px no-repeat;
    margin: 20px 0;
    padding-left: 20px;
  }
  li.last {
    margin-bottom: 0;
  }
}
.encino-box.only-text {
  h6 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.register-apartados {
  .form-control {
    border-radius: 0;
    color: #97a6b5;
    height: 41px;
  }
  a {
    color: #97a6b5;
    text-decoration: none;
    img {
      margin-bottom: 10px;
    }
  }
  .message {
    color: #ff6f00;
  }
}

/* Sliders */
#slider.flexslider {
  background: none;
  border: none;
  margin-bottom: 0;
  
  .flex-direction-nav a  { display: block; width: 61px; height: 60px; margin: -30px 0 0; opacity: 0.8; cursor: pointer; }
  .flex-direction-nav .flex-prev { left: 30px; background: url('/assets/left.png') left top no-repeat; }
  .flex-direction-nav .flex-next { right: 30px; background: url('/assets/right.png') left top no-repeat; }
  .flex-direction-nav .flex-prev:hover { opacity: 1; }
  .flex-direction-nav .flex-next:hover { opacity: 1; }
  .flex-direction-nav .flex-disabled { opacity: 0.8!important; filter:alpha(opacity=0.8); cursor: pointer; }
  .flex-direction-nav .flex-disabled:hover { opacity: 1!important; filter:alpha(opacity=1); cursor: pointer; }
  .flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: ''; }
  .flex-direction-nav a.flex-next:before  { content: ''; }

  .slides{
    display: block;
    visibility: visible;
  }
}

#carousel.flexslider {
  background: #ffffff;
  border: none;
  margin-bottom: 0;
  padding: 10px;

  li {
    cursor: pointer;
    margin-right: 8px;
  }
  li img {
    border: 4px solid #ffffff;
  }
  li.flex-active-slide img {
    border-color: #ff6f00;
  }
}

.carousel-preview{
  min-height: 102px;
}

/* Icons */
.ga {
  background-position: 0 0;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  width: 21px;
}
.ga:hover,
.ga:focus {
  background-position: 0 -21px;
}
.ga.ga-tree {
  background-image: url('../img/fa-tree.png');
}
.ga.ga-safari {
  background-image: url('../img/fa-safari.png');
}
.ga.ga-sheet {
  background-image: url('../img/fa-sheet.png');
}
.ga.ga-gallery {
  background-image: url('../img/fa-gallery.png');
}
.ga.ga-map {
  background-image: url('../img/fa-map.png');
}
.ga.ga-cash {
  background-image: url('../img/fa-cash.png');
}
.ga.ga-calculator {
  background-image: url('../img/fa-calculator.png');
}
.ga.ga-edit {
  background-image: url('../img/fa-edit.png');
}
.ga.ga-phone {
  background-image: url('../img/fa-phone.png');
}

@media (min-width: 992px) {
  #main-content {
    overflow: hidden;
    padding: 0;
  }
  .box {
    padding: 40px;
  }
  .dont-stand-out {
    padding: 30px 40px;
  }
  .encino-residencial {
    padding: 40px 75px;
  }
  .amenidades {
    padding: 50px 75px 50px 75px;
  }
  .features {
    padding: 40px 75px;
  }
  .no-padding-right {
    padding-right: 0px;
  }
  .no-padding-left {
    padding-left: 0px;
  }

  .hfix {
    height: 300px;
  }
  .hfix-210 {
    min-height: 206px;
  }
  .cotizacion {
    .col-md-5 {
      width: 40%;
    }
    .col-md-7 {
      width: 60%;
    }
  }
}

@media (min-width: 991px) {
  .menu-holder{
    display: none;
  }
  .sidebar {
    left:0px;
  }
}

@media (max-width: 991px) {
  #main-banner {
    .copy {
      padding: 30px 20px;
      span.title {
        line-height: 40px !important;
      }
      p{
        background: none;
      }
    }
    .info-form {
      border-radius: 0;
      bottom: 0;
      position: relative;
      margin: 20px;
      // right: 0;
      left: 0px;
      width: auto;
    }
  }


  .btn-lg{
    font-size: 16px;
  }

  .align-center{
    text-align: center;
  }

  .text-align-left{
    text-align: left;
  }
  

  .wrapper{
    padding: 0px;
    #logo{
      margin-top: 80px;
    }  
  }

  .bg-wrapper{
    &>div{
      padding-left:0px;
      padding-right:0px;
    }
  }

  .sidebar{
    height: 100%;
  }

  .open{
    // padding: 0 0 0 220px;  
    .sidebar{
      left:0px;
    }
  }  

  .navbar-toggle{
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1191px) {
  #main-banner {
    .copy {
      padding: 30px 60px;
    }
    .info-form {
      left: 488px;
    }
  }

  .btn-lg{
    font-size:14px;
  }
}

@media (min-width: 992px) and (max-width: 1270px) {
  #main-banner {
    .info-form {

    }
  }
}

@media (min-width:1271px){
  #main-banner {
    .copy {
      height: 120px;
      p{
        position: absolute;
        right: 477px;  
      }
    }
    .info-form {
      left: auto;
      right: 75px;
    }
  }
}